*, *::before, *::after {
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: aqua;
}

.title {
    display: flex;
    margin-bottom: auto;
    justify-content: center;
    align-items: center;    
}

.container {
    width: 500px;
    max-width: 40%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin-right: 300px;
    box-shadow: 0 0 10px 2px;
}

/* button styling start */
.btn-grid {
    display: grid;
    gap: 10px; 
    margin: 20px 0;
}

.btn {
    border: 1px solid purple;
    padding: 10px 15px;
    background: #0097e6;
    border-radius: 5px;
}

.btn:hover {
    background-color: #7f8fa6;
}

.start-btn, .submit-btn, .next-btn {
    font-weight: bold;
    padding: 20px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
} 

/* button styling end */